@import "tailwindcss";
:root {
  --primary: #009dae;
  --secondary: #ff4f6e;
}

body {
  font-family: "Questrial", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
