---
import TitleSection from "./TitleSection.astro";
---

<section class="flex flex-col justify-center max-w-5xl gap-2 m-auto mt-12">
    <TitleSection title="About me" icon="user-check" />
    <div class="flex gap-12">
        <div class="flex flex-col gap-4 max-w-5xl m-auto mt-12">
            <p class="text-justify">
                I am a passionate software engineer with a strong focus on
                mobile development. I have a deep understanding of the Flutter
                framework and its ecosystem, and I am always eager to learn new
                technologies and improve my skills. I am committed to delivering
                high-quality software that meets the needs of users and
                businesses alike.
            </p>
            <p class="text-justify">
                In my free time, I enjoy exploring new programming languages,
                contributing to open-source projects, and sharing my knowledge
                with others through blogging and speaking engagements.
            </p>
        </div>
        <div>
            <img
                src="/pictures/bryan-juanacio.webp"
                alt="bojuanDev"
                class="w-xl h-32 m-auto mt-8 mb-4 shadow-lg"
            />
        </div>
    </div>
</section>
