---
import TitleSection from "./TitleSection.astro";
---

<section
    id="about-me"
    class="flex flex-col justify-center max-w-5xl gap-4 m-auto mt-12 px-2 md:px-0 scroll-mt-20 md:scroll-mt-24 lg:scroll-mt-32"
>
    <TitleSection title="About me" icon="user-check" />

    <div
        class="flex flex-col-reverse md:flex-row items-center justify-between gap-8"
    >
        <div class="flex flex-col gap-4 px-2">
            <p>
                I’m a Software Engineer with great skills in UX/UI. I have 6+
                years of experience building quality software with multiples
                companies.
            </p>
            <p>
                My main technologies include React, Astro, React Native,
                Angular, Typescript, Node.js. I also have great knowledge in
                Node, Express, Next js, Apollo, Figma and different design
                tools.
            </p>

            <div class="mt-3 ml-6">
                <h3 class="text-(--secondary) text-2xl mb-4">Education</h3>
                <dl
                    class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700"
                >
                    <div class="flex flex-col pb-3">
                        <dt
                            class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"
                        >
                            Central University of Ecuador
                        </dt>
                        <dd class="font-poppins text-(--primary) text-xl">
                            Computer Graphic Engineer
                        </dd>
                    </div>

                    <div class="flex flex-col pb-3">
                        <dt
                            class="mb-1 text-gray-500 md:text-lg dark:text-gray-400"
                        >
                            International University of La Rioja
                        </dt>
                        <dd class="font-poppins text-(--primary) text-xl">
                            Master’s in User Experience Design
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <div class="h-72 w-4/5 md:w-3xl flex justify-center items-center">
            <img
                src="/pictures/bryan-juanacio.webp"
                alt="bojuanDev"
                class="h-full w-auto m-aut rounded-lg shadow-lg object-cover"
            />
        </div>
    </div>
</section>
