---
import Button from "./Button.astro";

---
<div class="flex flex-col">
  <header>
    <h3>Shuar VR - Know about the culture Shuar</h3>
  </header>
  <div class="flex gap-2">
    <span>Next</span>
    <span>Taildwind CSS</span>
  </div>
  <p>
    Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes.
    +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.
  </p>

  <div class="flex gap-4">
    <Button variant="secondary" showLeftIcon leftIcon="github">Code</Button>
    <Button variant="secondary" showLeftIcon leftIcon="github">Preview</Button>
  </div>
</div>
