---
import Button from "./Button.astro";
import TechLabel from "./TechLabel.astro";
import { type TechType } from "../types/tech"


interface Props {
  title: string;
  detail: string;
  githubLink?: string;
  projectLink?: string;
  tags?: TechType[];
}

const { title, detail, githubLink, projectLink, tags } = Astro.props;
---

<div class="flex flex-col gap-4">
  <header>
    <h3 class="text-(--primary)">{title}</h3>
  </header>
  <div class="flex gap-2">
    {tags?.map((item) => <TechLabel tech={item} />)}
  </div>
  <p>
    {detail}
  </p>

  <div class="flex gap-4">
    {
      githubLink ? (
        <Button variant="secondary" showLeftIcon leftIcon="github">
          Code
        </Button>
      ) : null
    }
    {
      projectLink ? (
        <Button variant="secondary" showLeftIcon leftIcon="link">
          Preview
        </Button>
      ) : null
    }
  </div>
</div>
