<div class="flex gap-8">
  <div class="flex flex-col items-center w-10">
    <img
      class="size-10 rounded-full border border-gray-300 object-cover"
      src="/pictures/logo-bojuan.webp"
    />

    <div class="bg-gray-300 w-px flex-1"></div>
  </div>

  <div class="flex flex-1 gap-10 pb-6">
    <div class="flex flex-col w-3xl">
      <h3 class="text-(--primary) text-xl">UX Engineer</h3>
      <span class="font-poppins text-xl">bojuanDev</span>
      <span class="text-xl">Currently</span>
    </div>

    <div>
      <p>
        Developed and successfully launched the application for Aseguradora del
        Sur, Ecuador's leading insurance company, using a clean architecture and
        the Flutter framework. Leveraging native modules with Kotlin and Swift,
        I contributed to a seamless and efficient application.
      </p>
    </div>
  </div>
</div>
