---
import BojuanLogo from "../assets/bojuan-logo.svg";
import Button from "../components/Button.astro";

const navItems = [
  {
    title: "Work Experience",
    ariaLabel: "work experience",
    url: "/#work-experience",
  },
  {
    title: "Projects",
    ariaLabel: "projects",
    url: "/#projects",
  },
  {
    title: "About me",
    ariaLabel: "about me",
    url: "/#about-me",
  },
  {
    title: "Contact",
    ariaLabel: "contact",
    url: "mailto:bryan-juanacio@bojuan.dev",
  },
];
---

<header class="hidden md:flex px-2 lg:px-0 justify-center items-center py-6">
  <nav class="flex justify-between items-center md:max-w-4xl lg:max-w-5xl w-full">
    <a aria-label="bojuan home" href="/#home">
      <BojuanLogo class="w-20 h-11" />
    </a>

    <div class="flex items-center gap-4">
      {
        navItems.map((link) => (
          <a
            class="relative block px-2 py-2 text-lg lg:text-xl transition hover:text-blue-500 dark:hover:text-blue-500"
            aria-label={link.ariaLabel}
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
      <Button>Download CV</Button>
    </div>
  </nav>
</header>
