---
import Tag from "./Tag.astro";
import ProfilePicture from "./ProfilePicture.astro";
import LinkIcon from "./LinkIcon.astro";
import BojuanLogo from "../assets/bojuan-logo.svg";
---

<section
  id="home"
  class="flex flex-col md:flex-row gap-8 h-screen md:h-auto justify-center items-center mt-8 md:mt-24 px-2 md:px-0 scroll-mt-20 md:scroll-mt-24 lg:scroll-mt-32"
>
  <BojuanLogo class="md:hidden h-13" />
  <div>
    <ProfilePicture />
  </div>
  <div class="flex flex-col gap-5 px-2 md:px-0 items-center md:items-start">
    <h1 class="text-(--secondary) text-2xl lg:text-4xl">
      Hello, I’m Bryan Juanacio
    </h1>
    <p
      class="text-3xl lg:text-5xl leading-10 lg:leading-12 text-center md:text-left"
    >
      Frontend Developer<br /> Mobile Developer<br /> UX Engineer
    </p>
    <Tag> Available to work</Tag>
    <div class="h-px w-2xs bg-gray-300"></div>
    <div class="flex gap-6">
      <LinkIcon href="https://github.com/bojuandev" icon="github" />
      <LinkIcon
        href="https://www.linkedin.com/in/bryan-juanacio-lalangui-9b69a2169/"
        icon="linkedin"
      />
      <LinkIcon href="mailto:contacto@bojuan.dev" icon="mail" />
    </div>
  </div>
</section>
