---
import Tag from "../components/Tag.astro"
---

<section class="flex flex-col gap-5">
  <h1 class="text-(--secondary) text-4xl">Hello, I’m Bryan Juanacio</h1>
  <p class="text-5xl leading-12">
    Frontend Developer<br /> Mobile Developer<br /> UX Engineer
  </p>
  <Tag> Available to work</Tag>
</section>
