<div class="h-[460px] w-[500px] relative">
  <svg
    class="absolute top-16 right-0"
    width="211"
    height="211"
    viewBox="0 0 211 211"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="105.5" cy="105.5" r="105.5" fill="#009DAE"></circle>
  </svg>

  <svg
    class="absolute bottom-10 left-0"
    width="258"
    height="258"
    viewBox="0 0 258 258"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="129" cy="129" r="120.5" stroke="#FF4F6E" stroke-width="17"
    ></circle>
  </svg>

  <svg
    class="absolute bottom-10 right-1/5"
    width="75"
    height="75"
    viewBox="0 0 75 75"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="37.5" cy="37.5" r="37.5" fill="#FFAF00"></circle>
  </svg>

  <img
    class="h-full absolute top-0 left-1/8 z-1"
    src="/pictures/bryan-juanacio.webp"
    alt="Bryan Juanacio"
  />
</div>
