---
import Briefcase from "../assets/briefcase.svg"
import CodeSvg from "../assets/code.svg"
import UserCheck from "../assets/user-check.svg"


interface Props {
  title: string;
  icon?: "briefcase" | "link" | "code" | "user-check";
}

const { title, icon = "briefcase" } = Astro.props;

const getIcon = () => {
  if (icon === "briefcase") {
    return Briefcase;
  }

  if(icon === "code") return CodeSvg

  if (icon === "user-check")  return UserCheck;

  return CodeSvg;
};

const IconComponent = getIcon();
---

<div class="flex gap-3 items-center">
  <div>
    <IconComponent />
  </div>
  <h2 class="text-(--secondary) text-2xl">
    {title}
  </h2>
</div>
