---
import ExperienceItem from "./ExperienceItem.astro"
import TitleSection from "./TitleSection.astro"
---
<section class="flex flex-col justify-center max-w-5xl gap-8 m-auto mt-12">
    <TitleSection title="Work experience" icon="briefcase"/>

    <div>
        <ExperienceItem />
        <ExperienceItem />
        <ExperienceItem />
    </div>
</section>