---
import ExperienceItem from "./ExperienceItem.astro";
import TitleSection from "./TitleSection.astro";

const workExperiences = [
  {
    company: "bojuanDev",
    description:
      "Developed and successfully launched the application for Aseguradora del Sur, Ecuador's leading insurance company, using a clean architecture and the Flutter framework. Leveraging native modules with Kotlin and Swift, I contributed to a seamless and efficient application.",
    endDate: new Date(2019, 3, 15),
    positionInTheCompany: "UX Engineer",
    startDate: new Date(2018, 3, 15),
    companyLogo: "/pictures/logo-bojuan.webp",
    isCurrentCompany: true
  },
  {
    company: "Banco Pichincha",
    description:
      "Developed and successfully launched the application for Aseguradora del Sur, Ecuador's leading insurance company, using a clean architecture and the Flutter framework. Leveraging native modules with Kotlin and Swift, I contributed to a seamless and efficient application.",
    endDate: new Date(2019, 3, 15),
    positionInTheCompany: "Full Stack developer",
    startDate: new Date(2019, 7, 15),
    companyLogo: "/pictures/logo-bojuan.webp"
  },
];
---

<section class="flex flex-col justify-center md:max-w-4xl lg:max-w-5xl gap-8 m-auto mt-12 px-2 lg:px-0">
  <TitleSection title="Work experience" icon="briefcase" />

  <div>
    {workExperiences.map((item) => <ExperienceItem {...item} />)}
  </div>
</section>
