---
import ExperienceItem from "./ExperienceItem.astro";
import TitleSection from "./TitleSection.astro";

const workExperiences = [
  {
    company: "bojuanDev",
    description:
      "bojuanDev is my pseudonym as a freelance developer. After several years of experience, I have the necessary knowledge to create quality software with a focus on user experience.",
    endDate: new Date(2019, 3, 15),
    positionInTheCompany: "Full stack Developer / UX Engineer",
    startDate: new Date(2018, 3, 15),
    companyLogo: "/pictures/logo-bojuan.webp",
    isCurrentCompany: true
  },
  {
    company: "Banco Pichincha",
    description:
      "I coordinated the development of Banco Pichincha's Design System. I maintained, updated, and automated front-end projects using our own libraries and metaframeworks. I provided support to all the bank's teams and assisted developers in their development.",
    endDate: new Date(2025, 3, 4),
    positionInTheCompany: "Frontend Developer Leader",
    startDate: new Date(2022, 6, 25),
    companyLogo: "/pictures/banco-pichincha.png",
  },
  {
    company: "Devsu",
    description:
      "Web project development primarily using React and Next.js. Microservice development using Typescript and AWS. I worked with the Unicorn company Kushki and its payment button.",
    endDate: new Date(2022, 5, 1),
    positionInTheCompany: "Frontend Developer",
    startDate: new Date(2021, 9, 1),
    companyLogo: "/pictures/devsu.png",
  },
  {
    company: "Itzam",
    description:
      "Development of web projects and mobile applications using React, React Native, Node.js, and Flutter. I assisted in the development of a real-time platform that included several web platforms and a mobile application.",
    endDate: new Date(2021, 9, 1),
    positionInTheCompany: "Full stack developer",
    startDate: new Date(2019, 3, 1),
    companyLogo: "/pictures/itzam.png",
  },
];
---

<section id="work-experience" class="flex flex-col justify-center md:max-w-4xl lg:max-w-5xl gap-8 m-auto mt-12 px-2 lg:px-0 scroll-mt-20 md:scroll-mt-24 lg:scroll-mt-32">
  <TitleSection title="Work experience" icon="briefcase" />

  <div>
    {workExperiences.map((item) => <ExperienceItem {...item} />)}
  </div>
</section>
