---
import "@fontsource/questrial";
import "@fontsource/poppins/600.css";
import "../styles/global.css";
---

<!doctype html>
<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bojuan-logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>bojuanDev - Bryan Juanacio</title>
    <meta name="title" content="bojuanDev - Bryan Juanacio" />
    <meta
      name="description"
      content="Frontend developer, Mobile Developer, UX Engineer"
    />
    <meta
      name="keywords"
      content="web, mobile, javascript, typescript, react, react native, figma, ux, ui"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.bojuan.dev/" />
    <meta property="og:title" content="bojuanDev - Bryan Juanacio" />
    <meta
      property="og:description"
      content="Frontend developer, Mobile Developer, UX Engineer"
    />
    <meta
      property="og:image"
      content="https://www.bojuan.dev/pictures/bryan-juanacio.webp"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.bojuan.dev/" />
    <meta property="twitter:title" content="bojuanDev - Bryan Juanacio" />
    <meta
      property="twitter:description"
      content="Frontend developer, Mobile Developer, UX Engineer"
    />
    <meta
      property="twitter:image"
      content="https://www.bojuan.dev/pictures/bryan-juanacio.webp"
    />
  </head>
  <body>
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)] m-auto"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
